.smr-svg-line {
    stroke-width: 5px;
    stroke-linecap: round;
}

.smr-svg-line-building {
    stroke-dasharray: 10, 10;
}

.smr-window-layout {
    stroke-width: 0;
}

.smr-window-layout-platform {
    fill: #dfdfdf;
}

.smr-window-layout-void {
    fill: #ffffff;
}

.smr-window-layout-arrow {
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: round;
}