.smr-svg-line {
    cursor: pointer;

    stroke-width: 5px;
    stroke-linecap: round;
}

.smr-svg-line-building {
    stroke-dasharray: 10, 10;
}

.smr-svg-station {
    cursor: pointer;
}

.smr-svg-text-name {
    font-size: 20px;
    font-weight: bold;
    fill: black;
}

.smr-svg-text-subtitle {
    font-size: 16px;
    font-style: italic;
    fill: gray;
}

.smr-window-layout {
    stroke-width: 0;
}

.smr-window-layout-platform {
    fill: #dfdfdf;
}

.smr-window-layout-void {
    fill: #ffffff;
}

.smr-window-layout-arrow {
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: round;
}